@font-face {
  font-family: "ProximaNovaLight";
  src: url("../../fonts/ProximaNovaLight/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"),
  url("../../fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
