// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$amazon-name: 'amazon';
$amazon-x: 0px;
$amazon-y: 0px;
$amazon-offset-x: 0px;
$amazon-offset-y: 0px;
$amazon-width: 32px;
$amazon-height: 32px;
$amazon-total-width: 64px;
$amazon-total-height: 64px;
$amazon-image: '../img/sprite.png';
$amazon: (0px, 0px, 0px, 0px, 32px, 32px, 64px, 64px, '../img/sprite.png', 'amazon', );
$browser-name: 'browser';
$browser-x: 32px;
$browser-y: 0px;
$browser-offset-x: -32px;
$browser-offset-y: 0px;
$browser-width: 32px;
$browser-height: 32px;
$browser-total-width: 64px;
$browser-total-height: 64px;
$browser-image: '../img/sprite.png';
$browser: (32px, 0px, -32px, 0px, 32px, 32px, 64px, 64px, '../img/sprite.png', 'browser', );
$google-name: 'google';
$google-x: 0px;
$google-y: 32px;
$google-offset-x: 0px;
$google-offset-y: -32px;
$google-width: 32px;
$google-height: 32px;
$google-total-width: 64px;
$google-total-height: 64px;
$google-image: '../img/sprite.png';
$google: (0px, 32px, 0px, -32px, 32px, 32px, 64px, 64px, '../img/sprite.png', 'google', );
$paypal-name: 'paypal';
$paypal-x: 32px;
$paypal-y: 32px;
$paypal-offset-x: -32px;
$paypal-offset-y: -32px;
$paypal-width: 32px;
$paypal-height: 32px;
$paypal-total-width: 64px;
$paypal-total-height: 64px;
$paypal-image: '../img/sprite.png';
$paypal: (32px, 32px, -32px, -32px, 32px, 32px, 64px, 64px, '../img/sprite.png', 'paypal', );
$spritesheet-width: 64px;
$spritesheet-height: 64px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($amazon, $browser, $google, $paypal, );
$spritesheet: (64px, 64px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
