//Colors
$dark-color: rgb(0, 0, 0);
$stack-color: rgb(144, 150, 92);
$accent-color: rgb(30, 30, 30);
$base-color: rgb(255, 255, 255);

//Font-Family
$Montserrat: 'Montserrat', sans-serif;

//breakpoints
$breakpoints: (
        'xs': (max-width: 480px),
        'sm': (max-width: 768px),
        'md': (max-width: 1024px),
        'lg': (max-width: 1200px)
);
