.section-team {
    height: 100%;
    padding: 0;
    overflow: hidden;

    &:before {
        content: '';

        display: block;
        width: 974px;
        height: 1036px;

        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;

        background-image: url('../img/lines-works.png');
        background-repeat: no-repeat;
    }

    .section__title {
        margin-bottom: 35px;
        
        &:before {
            display: none;
        }
    }

    .team {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          justify-content: space-between;

          &--second {
            .team__employee {
                  margin-left: 25px;

                  &:nth-child(3n) {
                      margin-right: -25px;
                  }
              }
          }
        }

        &__employee {
          max-width: 370px;
          margin-bottom: 30px;

          &:nth-child(2) {
              margin-top: -50px;
          }

          &:nth-child(3) {
            margin-top: -20px;
          }
        }
    }
}