.section-design {
  height: 100%;
  padding: 10px 0;

  &:after, &:before {
    content: '';

    display: block;
    width: 40px;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    background-image: url('../img/pitch-icon.png');
    background-repeat: repeat-y;
  }

  &:after {
    left: 97px;
  }

  &:before {
    right: 97px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
    padding: 0 90px 0 0;
  }

  &__description {
    width: 100%;
    max-width: 400px;
    
    color: $dark-color;
    font-family: $Montserrat;
    font-size: 18px;
    font-weight: 500;
  }

  video {
    width: 100%;
    max-height: 780px;
    cursor: pointer;
  }
}