.section-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__title {
    width: 501px;
    margin: 100px auto;
    
    color: $base-color;
    font-family: $Montserrat;
    font-size: 92px;
    font-weight: 800;
  }

  &__top-lines {
    width: 100%;
    max-width: 710px;
    margin: 0 auto 0 0;

    span {
      display: block;
      width: 100%;
      height: 2px;
      margin-bottom: 24px;
      background-color: $base-color;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__bottom-lines {
    width: 100%;
    max-width: 725px;
    margin: 0 0 0 auto;

    span {
      display: block;
      width: 100%;
      height: 10px;
      margin-bottom: 75px;
      background-color: $base-color;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__right-side {
    display: flex;
    align-items: flex-end;

    width: 50%;
    max-width: 960px;
    height: 100vh;
    padding-bottom: 50px;

    position: relative;
    overflow: hidden;

    background-image: url('../img/Pitch-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }

  &__left-side {
    width: 50%;
    max-width: 960px;
    height: 100vh;

    position: relative;
    z-index: -100;
    
    overflow: hidden;
  }

  .video__overlay {
    @extend .video__overlay;
  }

  &__desktop {
    display: block;
  }

  &__mobile {
    display: none;
  }

  video {
    width: auto;
    height: 100vh;
    max-height: 100vh;

    position: absolute;
    top: 0;
    left: -25%;
    right: 0;
  }

  &__mobile-image {
    display: none;
    max-width: 300px;
    margin: 50px 0;
  }

  &__nav {
    margin-left: 130px;
  }

  &__vertical-lines {
    display: block;
    width: 2px;
    height: 100%;

    position: absolute;
    top: 0;
    right: 60px;

    background-color: $stack-color;

    &:after, &:before {
      content: '';
      
      display: block;
      width: 2px;
      height: 100%;

      position: absolute;
      top: 0;

      background-color: $stack-color;
    }

    &:after {
      right: 120px;
    }

    &:before {
      right: 60px;

    }
  }
}