.section-team {
    height: 100%;
    padding: 50px 0;

    &:before {
        content: '';

        display: block;
        width: 1092px;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;

        background-image: url('../img/horizontal-lines-long.png');
        background-repeat: no-repeat;
        transform: rotate(90deg);
    }

    .section__title {
        margin-bottom: 50px;
        
        &:before {
            display: none;
        }
    }

    .team {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          justify-content: space-between;

          &--second {
              .team__employee {
                  margin-left: 140px;

                  &:nth-child(3n) {
                      margin-right: -100px;
                  }
              }
          }
        }

        &__employee {
            min-width: 370px;
            margin-bottom: 50px;

            &:nth-child(3n) {
                margin-top: -80px;
            }
        }
    }
}