.employee {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    width: 100%;
    max-width: 225px;
    margin-bottom: 50px;
    position: relative;
  }

  &__position {
    display: flex;

    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;

    .line {
      display: flex;
      width: 5px;
      height: 100%;
      margin-left: 40px;

      border-radius: 10px;
      background: $stack-color;

      writing-mode: vertical-lr;
    }
    
    .text {
      margin: auto -12px;

      color: $dark-color;
      font-family: $Montserrat;
      font-size: 27px;
      font-weight: 800;
      z-index: 1;
    }
  }

  &__name {
    margin-bottom: 20px;

    color: $dark-color;
    font-family: $Montserrat;
    font-size: 27px;
    font-weight: 800;
  }

  &__about {
    max-width: 280px;
    color: $dark-color;
    font-family: $Montserrat;
    font-size: 13px;
    font-weight: 500;
  }
}