.employee {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    width: 100%;
    max-width: 200px;
    margin-bottom: 15px;
    position: relative;
  }

  &__position {
    display: flex;

    position: absolute;
    top: -30px;
    left: 100%;
    bottom: 0;

    .line {
      display: flex;
      width: 5px;
      margin-left: 40px;

      border-radius: 10px;
      background: $stack-color;

      writing-mode: vertical-lr;
    }
    
    .text {
      margin: 30px -10px 0;

      color: $dark-color;
      font-family: $Montserrat;
      font-size: 24px;
      font-weight: 800;
      z-index: 1;
    }
  }

  &__name {
    margin-bottom: 15px;

    color: $dark-color;
    font-family: $Montserrat;
    font-size: 26px;
    font-weight: 800;
  }

  &__about {
    max-width: 370px;
    color: $dark-color;
    font-family: $Montserrat;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }
}