@media only screen and (max-width: 850px) {
  .wrapper {
    .section__title {
      font-size: 40px;
      margin: 0 auto;
      text-align: center;
    }

    .section-home {
      flex-direction: column;

      &__left-side {
        width: 100%;
        max-width: 100%;
        min-height: 580px;
      }

      &__right-side {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 500px;
        padding-bottom: 0;;
        background-size: 0;
      }

      &__title {
        width: 350px;
        font-size: 65px;
      }

      &__vertical-lines {
        right: 15px;

        &:before {
          right: 25px;
        }

        &:after {
          right: 50px;
        }
      }

      &__top-lines {
        max-width: 70%;

        span {
          margin-bottom: 15px;
        }
      }

      &__bottom-lines {
        max-width: 70%;

        span {
          margin-bottom: 30px;
        }
      }

      &__mobile-image {
        display: flex;
      }

      &__nav {
        width: 305px;
        margin-left: 0;
        margin-bottom: 50px;
      }

      .navigation__link {
        margin-bottom: 10px;
        font-size: 40px;
      }

      video {
        height: 100%;
        min-height: 580px;
      }
    }

    .section-design {
      padding: 50px 10px;

      &:after, &:before {
        width: 100%;
        height: 29px;
        left: 0;
        right: 0;
        background-image: url(../img/mobile/pitch-horizontal.png);
        background-repeat: repeat-x;
        background-position: 50%;
      }

      &:after {
        top: auto;
        bottom: 0;
      }

      &:before {
        top: 0;
        bottom: auto;
      }

      .section__title:before {
        top: 26px;
        right: -70px;
        background-size: 60%;
      }

      &__description {
        display: none;

        &--mobile {
          display: block;
          width: 100%;
          max-width: 350px;
          margin: 20px auto;

          color: $dark-color;
          font-family: $Montserrat;
          font-size: 16px;
          font-weight: 500;
        }
      }

      &__wrap {
        padding: 0;
      }
    }

    .section-services {
      padding: 50px 10px;

      &__title {
        max-width: 146px;
        margin-bottom: 30px;

        &:before {
          top: 20px;
          background-size: 60%;
        }
      }

      &__steps {
        margin-left: 0;
      }

      .services-steps {
        &__line {
          left: 8%;
        }

        .step {
          width: 350px;
          min-height: 750px;
          margin: 0 auto;

          &__name {
            margin-bottom: 30px;
            font-size: 40px;
          }

          &__description {
            margin-bottom: 25px;

            font-size: 15px;
            line-height: 25px;
          }

          &__info {
            max-width: 270px;
            margin-left: 0;
            top: 120px;
            left: 20%;
            right: 10%;
          }

          &__number {
            top: 20px;
            left: 20%;
            font-size: 75px;
          }
        }
        
        .step-2 .line-2 {
          left: 11%;
        }

        .step-3 .line-2 {
          left: 11%;
        }

        .step-3 .line-3 {
          left: 14%;
        }

        .step-4 .line-2 {
          left: 11%;
        }

        .step-4 .line-3 {
          left: 14%;
        }

        .step-4 .line-4 {
          left: 17%;
        }
      }
    }

    .section-works {
      padding: 25px;

      &:after, &:before {
        display: none;
      }

      &__container {
        height: 100%;

        &:after {
          display: none;
        }

        &:before {
          display: none;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
      }

      .works {
        &__item {
          max-width: 100%;
          max-height: 100%;
          margin-bottom: 50px;
          &:before {
            height: auto;
          }

          &--first {
            position: relative;

            &:before {
              top: -15px;
              left: -15px;
              bottom: 75px;
            }
          }

          &--second {
            position: relative;
            top: 0;
            left: 0;
            right: 0;

            &:before {
              top: -15px;
              left: -15px;
              bottom: 75px;
            }

            .works__title {
              max-width: 210px;
            }
          }

          &--third {
            position: relative;
            top: 0;
            left: 0;
            right: 0;

            &:before {
              top: 85px;
              left: -15px;
              bottom: 0;
            }
          }

          &--fourth {
            position: relative;
            top: 0;
            left: 0;
            right: 0;

            &:before {
              top: 85px;
              left: -15px;
              bottom: 0;
            }

            .works__title {
              margin: 0 0 30px 0
            }
          }
        }

        &__title {
          max-width: 170px;
          font-size: 28px;

          &:before {
            background-size: 70%;
          }
        }

        video {
          margin-bottom: 15px;
          min-height: 180px;
        }
      }
    }

    .section-smm {
      padding: 25px;

      &:before {
        display: none;
      }

      .item {
        max-width: 100%;
        margin: 0 auto 50px;

        &__overlay {
          padding: 25px;
          font-size: 18px;
          top: -15px;
          left: -15px;
        }
      }
    }

    .section-team {
      padding: 50px 10px;
      
      .team {
        flex-direction: column !important;
        align-items: center;

        &__employee {
          min-width: 320px;
          margin-bottom: 30px;

          &:nth-child(3n) {
            margin-top: 0;
          }
        }

        &__row--second {
          .team__employee {
            margin-left: 0;
          }
        }
      }
      .employee__info {
        max-width: 180px;
        margin-bottom: 15px;
      }
      .employee__name {
        margin-bottom: 15px;
        font-size: 20px;
      }
      .employee__about {
        max-width: 250px;
        font-size: 12px;
      }
      .employee__position .text {
        margin: auto -8px;
        font-size: 20px;
      }
      .employee__position .line {
        margin-left: 25px;
      }
    }

    .section-contacts {
      display: flex;
      flex-direction: column;

      .section__title {
        margin: 30px auto 40px;
      }
      .video__overlay:before {
        display: none;
      }
      &__form {
        width: 100%;
        height: 450px;
      }
      &__info {
        width: 100%;
        height: 400px;
      }
      .contacts {
        max-height: 270px;
        max-width: 320px;

        &__or-empty {
          width: 175px;
        }

        &__or-full {
          top: 75px;
          height: 175px;
        }

        &__phone {
          top: 15px;
          left: 180px;
        }

        &__email {
          bottom: 0;
          left: 75px;
        }

        .email {
          margin-bottom: 10px;
          font-size: 20px;

          &__title {
            margin-bottom: 10px;
            font-size: 20px;
          }
        }

        .phone {
          font-size: 20px;

          &__title {
            margin-bottom: 10px;
          }

          &__tel {
            margin-bottom: 10px;
          }
        }
      }
      .form {
        width: 100%;
        max-width: 340px;

        &__input {
          font-size: 20px;
          height: 45px;
          line-height: 45px;
        }

        textarea {
          font-size: 20px;
          height: 100px;
        }

        &__btn {
          max-width: 350px;
          font-size: 20px;
          height: 45px;
          line-height: 43px;
        }
      }
    }
  }
}

@media only screen and (min-width: 851px) and (max-width: 992px) {
  .wrapper {
    .section {
      &__title {
        font-size: 30px;

        &:before {
          top: 15px;
          background-size: 45%;
        }
      }
    }
    .section-home {
      &__title {
        width: 300px;
        font-size: 55px;
      }
      &__top-lines {
        max-width: 350px;
      }
      &__bottom-lines {
        max-width: 350px;
      }
      &__right-side {
        background-position: 30px 90px;
      }
      &__nav {
        margin-left: 45px;
      }
    }
    .navigation__link {
      margin-bottom: 15px;
      font-size: 30px;
    }
    .section-design {
      &__description {
        max-width: 200px;
        font-size: 13px;
      }
    }
    .section-services {
      &__title {
        max-width: 116px;
        &:before {
          right: -106px;
        }
      }
      &__steps {
        margin-left: 30px;
      }
    }
    .services-steps {
      &__line {
        left: 150px;
      }
      .step-3 .line-2 {
        left: 170px;
      }
      .step-2 .line-2 {
        left: 170px;
      }
      .step-3 .line-3 {
        left: 190px;
      }
      .step-4 .line-2 {
        left: 170px;
      }
      .step-4 .line-3 {
        left: 190px;
      }
      .step-4 .line-4 {
        left: 210px;
      }
      .step__info {
        max-width: 345px;
        margin-left: 0;
        left: 30%;
      }
      .step__number {
        font-size: 120px;
      }
      .step__name {
        margin-bottom: 50px;
        font-size: 45px;
      }
      .step__description {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 25px;
      }
    }
    .section-works {
      .works__item {
        max-width: 280px;
        max-height: 150px;
        &--first {
          &:before {
            top: -15px;
            left: -15px;
          }
        }
        &--second {
          left: 300px;
          &:before {
            top: -15px;
            left: -15px;
          }
        }
        &--third {
          top: 140px;
          right: -30px;
          &:before {
            left: -15px;
            bottom: -80px;
          }

          .works__title {
            margin-right: 0;
            margin-left: auto;
          }
        }
        &--fourth {
          top: 210px;
          right: 275px;
          &:before {
            left: -15px;
            bottom: -80px;
          }
          
           .works__title {
            max-width: 180px;
            margin: 0 auto 20px;
          }
        }
      }
      .works__title {
        width: 150px;
        font-size: 22px;

        &:before {
          background-size: 50%;
        }
      }
    }
    .section-smm:before {
      top: 300px;
    }
    .slider {
      width: 600px;
      margin: 0 auto;

      &__title {
        font-size: 30px;
      }

      &__date {
        max-width: 80px;
      }

      &__text {
        font-size: 15px;
      }
      &__image {
        margin-bottom: 35px;
      }
      &__line {
        margin-bottom: 50px;
      }
    }
    .section-contacts {
      .section__title {
        margin: 80px auto 80px;
      }
      .contacts {
        max-height: 370px;
        max-width: 364px;

        &__or-empty {
          width: 200px;
        }

        &__or-full {
          top: 100px;
          height: 200px;
        }

        &__phone {
          left: 210px;
        }

        &__email {
          bottom: 0;
          left: 80px;
        }

        .email {
          margin-bottom: 15px;
          font-size: 22px;

          &__title {
            margin-bottom: 15px;
            font-size: 25px;
          }
        }

        .phone {
          font-size: 22px;

          &__title {
            margin-bottom: 15px;
          }

          &__tel {
            margin-bottom: 15px;
          }
        }
      }

      .form {
        max-width: 370px;

        &__input {
          font-size: 25px;
          height: 50px;
          line-height: 50px;
        }
        textarea {
          font-size: 25px;
          height: 150px;
        }

        &__btn {
          font-size: 25px;
          height: 50px;
          line-height: 48px;
        }
      }
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .wrapper {
    .section {
      &__title {
        font-size: 38px;

        &:before {
          top: 20px;
          background-size: 55%;
        }
      }
    }
    .section-home {
      &__title {
        width: 350px;
        font-size: 65px;
      }
      &__top-lines {
        max-width: 450px;
      }
      &__bottom-lines {
        max-width: 450px;
      }
      &__right-side {
        background-position: 30px 90px;
      }
      &__nav {
        margin-left: 45px;
      }
    }
    .navigation__link {
      margin-bottom: 15px;
      font-size: 40px;
    }
    .section-design {
      &__description {
        max-width: 300px;
        font-size: 14px;
      }
    }
    .section-services {
      &__title {
        max-width: 248px;
        &:before {
          right: -106px;
        }
      }
      &__steps {
        margin-left: 65px;
      }
    }
    .services-steps .step__number {
      font-size: 120px;
    }
    .services-steps .step__name {
      margin-bottom: 50px;
      font-size: 45px;
    }
    .services-steps .step__description {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 25px;
    }
    .section-works {
      .works__item {
        max-width: 300px;
        max-height: 160px;
        &--first {
          &:before {
            top: -15px;
            left: -15px;
          }
        }
        &--second {
          left: 300px;
          &:before {
            top: -15px;
            left: -15px;
          }
        }
        &--third {
          top: 30px;
          right: -30px;

          &:before {
            left: -15px;
            bottom: -80px;
          }

          .works__title {
            margin-right: 0;
            margin-left: auto;
          }
        }
        &--fourth {
          top: 175px;
          right: 275px;

          &:before {
            left: -15px;
            bottom: -80px;
          }
        }
      }
      .works__title {
        width: 150px;
        font-size: 25px;

        &:before {
          background-size: 60%;
        }
      }
    }
    .section-smm:before {
      top: 370px;
    }
    .slider {
      margin: 0 auto;

      &__title {
        font-size: 40px;
      }

      &__date {
        max-width: 100px;
      }

      &__text {
        font-size: 16px;
      }
      &__image {
        margin-bottom: 35px;
      }
      &__line {
        margin-bottom: 50px;
      }
    }
    .section-contacts {
      .contacts {
        max-width: 460px;
        max-height: 400px;

        &__or-empty {
          width: 250px;
        }

        &__or-full {
          top: 100px;
          height: 250px;
        }

        &__phone {
          left: 280px;
        }

        &__email {
          bottom: 0;
          left: 100px;
        }

        .email {
          margin-bottom: 18px;
          font-size: 25px;

          &__title {
            margin-bottom: 18px;
            font-size: 25px;
          }
        }

        .phone {
          font-size: 25px;

          &__title {
            margin-bottom: 18px;
          }

          &__tel {
            margin-bottom: 18px;
          }
        }
      }

      .form {
        max-width: 420px;
        &__input {
          font-size: 25px;
          height: 50px;
          line-height: 50px;
        }
        textarea {
          width: 100%;
          height: 180px;
          font-size: 25px;
        }
        .btn {
          height: 50px;
          font-size: 25px;
          line-height: 46px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1368px) {
  .wrapper {
    .section {
      &__title {
        font-size: 45px;

        &:before {
          top: 30px;
          background-size: 75%;
        }
      }
    }
    .section-home {
      &__title {
        width: 350px;
        font-size: 65px;
      }
      &__top-lines {
        max-width: 520px;
      }
      &__bottom-lines {
        max-width: 520px;
      }
      &__right-side {
        background-position: 30px 90px;
      }
      &__nav {
        margin-left: 45px;
      }
    }
    .navigation__link {
      margin-bottom: 15px;
      font-size: 40px;
    }
    .section-design {
      &__description {
        max-width: 320px;
        font-size: 15px;
      }
    }
    .section-services {
      &__title {
        &:before {
          right: -96px;
        }
      }
    }
    .services-steps .step__number {
      font-size: 120px;
    }
    .services-steps .step__name {
      margin-bottom: 50px;
      font-size: 55px;
    }
    .services-steps .step__description {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 25px;
    }
    .section-works {
      &__list {
        margin: 85px auto 0;
        max-width: 930px;
      }
      .works__item {
        max-width: 320px;
        max-height: 180px;

        &--first {
          &:before {
            top: -25px;
            left: -25px;
          }
        }
        &--second {
          left: 320px;

          &:before {
            top: -25px;
            left: -25px;
          }

          .works__title {
            width: 190px;
          }
        }
        &--third {
          top: 40px;
          right: -30px;

          &:before {
            left: -25px;
            bottom: -85px;
          }

          .works__title {
            margin-right: 0;
            margin-left: auto;
          }
        }
        &--fourth {
          top: 175px;
          right: 290px;

          &:before {
            left: -25px;
            bottom: -85px;
          }
        }
      }

      .works__title {
        width: 150px;
        font-size: 25px;

        &:before {
          background-size: 60%;
        }
      }
    }
    .section-smm {
      &:before {
        top: 370px;
      }

      .item {
        max-width: 325px;

        &__overlay {
          font-size: 18px;
        }
      }
    }
    .slider {
      margin: 0 auto;

      &__title {
        font-size: 40px;
      }

      &__date {
        max-width: 100px;
      }

      &__text {
        font-size: 16px;
      }
      &__image {
        margin-bottom: 35px;
      }
      &__line {
        margin-bottom: 50px;
      }
    }
    .section-team {
      .team__row--second .team__employee {
        margin-left: 32px;
      }
    }
    .section-contacts {
      .section__title {
        margin: 60px auto 100px;
      }
      .video__overlay:before {
        top: 20%;
      }
      .contacts {
        max-width: 470px;
        max-height: 400px;

        &__or-empty {
          width: 250px;
        }

        &__or-full {
          top: 100px;
          height: 250px;
        }

        &__phone {
          left: 280px;
        }

        &__email {
          bottom: 0;
          left: 110px;
        }

        .email {
          margin-bottom: 18px;
          font-size: 25px;

          &__title {
            margin-bottom: 18px;
            font-size: 25px;
          }
        }

        .phone {
          font-size: 25px;

          &__title {
            margin-bottom: 18px;
          }

          &__tel {
            margin-bottom: 18px;
          }
        }
      }
      .form {
        max-width: 480px;

        &__input {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1369px) and (max-width: 1440px) {
  .wrapper {
    .section {
      &__title {
        font-size: 55px;

        &:before {
          top: 35px;
          background-size: 75%;
        }
      }
    }
    .section-home {
      &__title {
        width: 450px;
        font-size: 75px;
      }
      &__top-lines {
        max-width: 590px;
      }
      &__bottom-lines {
        max-width: 590px;
      }
      &__right-side {
        background-position: 30px 100px;
      }
      &__nav {
        margin-left: 45px;
      }
    }
    .navigation__link {
      margin-bottom: 15px;
      font-size: 45px;
    }
    .section-design {
      &__description {
        font-size: 16px;
      }
    }
    .section-services {
      &__title {
        &:before {
          right: -96px;
        }
      }
    }
    .services-steps {
      .step__number {
        font-size: 130px;
      }
      .step__name {
        margin-bottom: 70px;
        font-size: 65px;
      }
      .step__description {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 25px;
      }
    }
    .section-works {
      &__list {
        margin: 85px auto 0;
        max-width: 1170px;
      }
      .works__item {
        max-width: 400px;
        max-height: 226px;
        &--second {
          left: 400px;
        }
        &--third {
          top: 10px;
          right: -30px;
        }
        &--fourth {
          top: 210px;
          right: 370px;
        }
      }
    }
    .section-smm {
      .item {
        max-width: 350px;

        &__overlay {
          font-size: 20px;
        }
      }
    }
    .section-team {
      .team__row--second .team__employee {
        margin-left: 65px;
      }
    }
    .section-contacts {
      .contacts {
        max-width: 545px;
        max-height: 460px;

        &__or-empty {
          width: 300px;
        }

        &__or-full {
          top: 100px;
          height: 300px;
        }

        &__phone {
          left: 330px;
        }

        &__email {
          bottom: 15px;
          left: 110px;
        }

        .email {
          margin-bottom: 20px;
          font-size: 30px;

          &__title {
            margin-bottom: 20px;
            font-size: 30px;
          }
        }

        .phone {
          font-size: 30px;

          &__title {
            margin-bottom: 20px;
          }

          &__tel {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  .wrapper {
    .section {
      &__title {
        font-size: 50px;
        &:before {
          background-size: 75%;
        }
      }
    }
    .section-home {
      &__title {
        width: 480px;
        margin: 85px auto;
        font-size: 80px;
      }
      &__right-side {
        background-position: 75px 80px;
      }
      &__nav {
        margin-left: 85px;
      }
    }
    .navigation__link {
      margin-bottom: 15px;
      font-size: 48px;
    }
    .section-design {
      &__description {
        font-size: 17px;
      }
    }
    .section-services {
      &__title {
        &:before {
          right: -96px;
        }
      }
      .services-steps {
        .step__name {
          margin-bottom: 50px;
          font-size: 60px;
        }
        .step__description {
          font-size: 16px;
        }
      }
    }
    .section-smm {
      .item {
        max-width: 380px;
      }
    }
    .section-works {
      &__list {
        margin: 85px auto 0;
        max-width: 1245px;
      }
      .works__item {
        max-width: 400px;
        max-height: 226px;
        &--second {
          left: 400px;
        }
        &--third {
          top: 10px;
          right: 43px;
        }
        &--fourth {
          top: 210px;
          right: 442px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  .wrapper {
    .section {
      &__title {
        font-size: 55px;
        &:before {
          background-size: 75%;
        }
      }
    }
    .section-home {
      &__title {
        width: 480px;
        margin: 85px auto;
        font-size: 80px;
      }
      &__right-side {
        background-position: 30px 100px;
      }
      &__nav {
        margin-left: 45px;
      }
    }
    .section-works {
      &__list {
        margin: 85px auto 0;
        max-width: 1440px;
      }
      &__container {
        max-width: 1440px;
      }
    }
  }
}

@media only screen and (min-width: 851px) and (max-width: 1250px) {
  .wrapper {
    .section-smm,
    .section-team {
      &:before {
        display: none;
      }
    }
    .section-smm {
      .item {
        max-width: 300px;
        margin: 0 auto 100px;

        &__overlay {
          font-size: 16px;
        }
      }
    }
    .section-team {
      height: 100%;

      .team {
        flex-direction: initial;
        justify-content: space-between;
      }
      .team__row {
        flex-direction: column;
      }
      .team__employee {
        min-width: 100%;
      }
      .team__employee:nth-child(3n) {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 851px) and (max-width: 1800px) {
  .wrapper {
    .section {
      &__container {
        max-width: 100%;
      }
    }
    .section-home {
      &__vertical-lines {
        right: 25px;

        &:before {
          right: 25px;
        }

        &:after {
          right: 50px;
        }
      }
    }
    .section-design {
      padding: 10px 100px;
      
      &:after {
        left: 25px;
      }
      &:before {
        right: 25px;
      }

      &__wrap {
        margin-bottom: 30px;
        padding: 0 50px 0 0;
      }
      video {
        max-height: 650px;
      }
    }
    .section-services {
      padding: 50px 100px;
    }
    .section-works {
      padding: 75px 100px;
    }
    .section-smm {
      padding: 50px 100px;
    }
    .section-team {
      padding: 25px 100px;

      .section__title {
        margin-bottom: 30px;
      }
      .team__employee {
        margin-bottom: 30px;
      }
      .employee__info {
        max-width: 180px;
      }
      .employee__name {
        margin-bottom: 15px;
        font-size: 24px;
      }
      .employee__position .text {
        font-size: 24px;
      }
      .team__row--second .team__employee {
        margin-left: 100px;
      }
    }
    .section-contacts {
      .section__title {
        margin: 60px 0 125px;
      }
      .contacts {
        margin-left: 0;
      }
    }
  }
}