extends base

block title
    title Index Page

append css



block content
    include include/header
    + addSectionContent('Section 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem incidunt totam veniam. Ad aspernatur, atque dolor ducimus ipsum, laboriosam laborum libero mollitia neque nesciunt, perspiciatis praesentium repellendus reprehenderit suscipit temporibus!')




